<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="resource" class="ru.otus.service.ResourcesServiceImpl">
            <constructor-arg name="resourcePath" value="qa.csv"/>
        </bean>

        <bean id="questionDao" class="ru.otus.dao.QuestionDaoImpl">
            <constructor-arg name="sourceService" ref="resource"/>
        </bean>

        <bean id="questionnaireService" class="ru.otus.service.QuestionnaireServiceImpl">
            <constructor-arg name="dao" ref="questionDao"/>
        </bean>

</beans>
